@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../src/assets/fonts/iransansdnweblight.ttf");
  font-style: normal;
}

* {
  font-family: "LaleZar", "Rezvan";
}
