@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../src/assets/fonts/IRANSansWeb.ttf");
  font-style: normal;
}

* {
  font-family: "IranSans";
}
