@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../src/assets/fonts/Gandom.ttf");
  font-style: normal;
}

* {
  font-family: "IranSans";
}

body {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overflow-x: hidden;
}